<div class="idea-form-container">
    <a href="/ideas/idealize">Voltar</a>
    <h1>Adicionar</h1>
    <form action="/ideas/add" method="POST">
        <div class="form-control">
            <textarea name="description" rows="3" placeholder="Escreva aqui a sua ideia..."></textarea>
        </div>
        <input type="submit" value="Salvar"> 
    </form>
</div>